In [1]:
import pandas as pd

from sklearn.ensemble import HistGradientBoostingClassifier, AdaBoostClassifier, RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import roc_curve, roc_auc_score, f1_score
from sklearn.model_selection import train_test_split

In [2]:
rs = 7812

report_date - дата среза фичей

есть есть еденица мы не знаем какая она 1 и 2 или 3е

In [3]:
raw_data = pd.read_csv('data/train_dataset_Самолет.csv', low_memory=False)

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14456 entries, 0 to 14455
Columns: 2666 entries, report_date to col2663
dtypes: float64(2312), int64(3), object(351)
memory usage: 294.0+ MB

In [5]:
raw_data

,report_date,client_id,target,col1,col2,col3,col4,col5,col6,col7,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,2022-11-01,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
1,2022-11-01,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,7616803.0,7616803.0,NaN,NaN,NaN,7616803.0,7616803.0,7616803.0,0.256261
2,2022-05-01,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
3,2022-09-01,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258682
4,2022-08-01,8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,2022-07-01,1241,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276902
14452,2022-09-01,1969,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260516
14453,2022-02-01,7116,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260005
14454,2021-08-01,7117,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
14455,2022-03-01,849,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.293904

### text fields
colomns #

URL: 49-56 221-244 457-464 545-560 1045-1076

От куда перешли: 555 - 576

Поисковые запросы: 577 - 584

Ипотека: 129-152

Платформа 521-544

In [6]:
for i in range(521,544):
    print(f"\'col{i}\',")

'col521',
'col522',
'col523',
'col524',
'col525',
'col526',
'col527',
'col528',
'col529',
'col530',
'col531',
'col532',
'col533',
'col534',
'col535',
'col536',
'col537',
'col538',
'col539',
'col540',
'col541',
'col542',
'col543',

In [7]:
list_of_text_col = ['col49','col50','col51','col52','col53','col54','col55','col56',
                            'col221','col222','col223','col224','col225','col226','col227','col228','col229','col230','col231','col232','col233','col234','col235','col236','col237','col238','col239','col240','col241','col242','col243','col244',
                            'col457','col458','col459','col460','col461','col462','col463','col464',
                            'col545','col546','col547','col548','col549','col550','col551','col552','col553','col554','col555','col556','col557','col558','col559','col560',
                            'col1045','col1046','col1047','col1048','col1049','col1050','col1051','col1052','col1053','col1054','col1055', 'col1056',
                            'col1057','col1058','col1059','col1060','col1061','col1062','col1063','col1064','col1065','col1066','col1067','col1068','col1069','col1070','col1071','col1072','col1073','col1074','col1075','col1076',
                            'col561','col562','col563','col564','col565','col566','col567','col568','col569','col570','col571','col572','col573','col574','col575','col576',
                            'col577','col578','col579','col580','col581','col582','col583','col584',
                            'col129','col130','col131','col132','col133','col134','col135','col136','col137','col138','col139','col140','col141','col142','col143','col144','col145','col146','col147','col148','col149','col150','col151','col152',
                            'col521','col522','col523','col524','col525','col526','col527','col528','col529','col530','col531','col532','col533','col534','col535','col536','col537','col538','col539','col540','col541','col542','col543','col544']
len(list_of_text_col)

160

In [8]:
EF = raw_data
#EF = raw_data.copy()
EF[list_of_text_col] = EF[list_of_text_col].astype(str)
EF['text_for_search'] = EF[list_of_text_col].agg(', '.join, axis=1)

In [9]:
EF

,report_date,client_id,target,col1,col2,col3,col4,col5,col6,col7,...,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663,text_for_search
0,2022-11-01,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
1,2022-11-01,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,7616803.0,NaN,NaN,NaN,7616803.0,7616803.0,7616803.0,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
2,2022-05-01,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
3,2022-09-01,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258682,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
4,2022-08-01,8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254164,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,2022-07-01,1241,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276902,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
14452,2022-09-01,1969,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260516,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
14453,2022-02-01,7116,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260005,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
14454,2021-08-01,7117,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
14455,2022-03-01,849,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.293904,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."

In [10]:
import re
ipoteka = ['Ипоте', 'Ipote','mortgag']
comercial = ['comercial']
ads = ['utm_source']
family = ['family', 'Детска']
parking = ['parki']
apple = ['Mac', 'ios', 'iPhone', 'iPad', "Safari"]
nonapple = ['Android', 'Windows', 'Linux']
flats = ['flats']

EF['ipoteka'] = 0
EF['comercial'] = 0
EF['ads'] = 0
EF['family'] = 0
EF['parking'] = 0
EF['apple'] = 0
EF['nonapple'] = 0
EF['flats']=0

for index, row in EF.iterrows():
    count = 0
    
    for w in ipoteka:
        if re.search(w, row['text_for_search'], re.IGNORECASE):
            count+=1
    EF.at[index, 'ipoteka'] = count
    count = 0

    for w in flats:
        if re.search(w, row['text_for_search'], re.IGNORECASE):
            count+=1
    EF.at[index, 'flats'] = count
    count = 0

    for w in apple:
        if re.search(w, row['text_for_search'], re.IGNORECASE):
            count+=1
    EF.at[index, 'apple'] = count
    count = 0

    for w in nonapple:
        if re.search(w, row['text_for_search'], re.IGNORECASE):
            count+=1
    EF.at[index, 'nonapple'] = count
    count = 0

    for w in comercial:
        if re.search(w, row['text_for_search'], re.IGNORECASE):
            count+=1
    EF.at[index, 'comercial'] = count
    count = 0

    for w in ads:
        if re.search(w, row['text_for_search'], re.IGNORECASE):
            count+=1
    EF.at[index, 'ads'] = count
    count = 0

    for w in family:
        if re.search(w, row['text_for_search'], re.IGNORECASE):
            count+=1
    EF.at[index, 'family'] = count
    count = 0

    for w in parking:
        if re.search(w, row['text_for_search'], re.IGNORECASE):
            count+=1
    EF.at[index, 'parking'] = count
    count = 0

In [11]:
EF = EF.drop(columns=list_of_text_col)
EF = EF.drop(columns=['text_for_search'])

In [12]:
EF['flats'].value_counts()

0    13501
1      955
Name: flats, dtype: int64

In [13]:
EF['apple'].value_counts()

0    14000
3      370
1       48
2       34
4        4
Name: apple, dtype: int64

In [14]:
EF['nonapple'].value_counts()

0    13305
1     1100
2       51
Name: nonapple, dtype: int64

In [15]:
EF['ipoteka'].value_counts()

0    13854
1      320
2      177
3      105
Name: ipoteka, dtype: int64

In [16]:
EF['ads'].value_counts()

0    14219
1      237
Name: ads, dtype: int64

In [17]:
EF['family'].value_counts()

0    14273
1      183
Name: family, dtype: int64

In [18]:
EF['parking'].value_counts()

0    14250
1      206
Name: parking, dtype: int64

In [19]:
EF

,report_date,client_id,target,col1,col2,col3,col4,col5,col6,col7,...,col2662,col2663,ipoteka,comercial,ads,family,parking,apple,nonapple,flats
0,2022-11-01,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.256261,0,0,0,0,0,0,0,0
1,2022-11-01,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,0.256261,0,0,0,0,0,3,0,1
2,2022-05-01,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.256261,0,0,0,0,0,0,0,0
3,2022-09-01,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.258682,0,0,0,0,0,0,0,0
4,2022-08-01,8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.254164,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,2022-07-01,1241,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.276902,0,0,0,0,0,0,0,0
14452,2022-09-01,1969,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.260516,0,0,0,0,0,0,0,0
14453,2022-02-01,7116,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.260005,0,0,0,0,0,0,0,0
14454,2021-08-01,7117,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.256261,0,0,0,0,0,0,0,0
14455,2022-03-01,849,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.293904,0,0,0,0,0,0,0,0

In [20]:
raw_data['target'].value_counts()

0    14020
1      436
Name: target, dtype: int64

In [21]:
num_unq_clients = raw_data['client_id'].unique().shape[0] # Number of unque clients
num_unq_clients

4817

In [22]:
raw_data.iloc[1,3:-1].dropna().unique()

array(['nan', 1.0, 0.0, 4.0, 19.2, 19.200000762939453, 92.55,
       92.5500030517578, 30.0, 5407132.0, 23789540.0, 715.0,
       'https://samolet.ru/flats/?project=7', 'filter_price_asc', 55.7483,
       55.74829864501953, 37.6171, 37.61709976196289, 'page_load',
       'Mobile Safari', 'iPhone', 'iOS', '/project/sputnik/', 'sms',
       'exponea', 'Russia', 'Moscow',
       '01febac0-b083-494e-8589-f98400074b94', 6.0, 2.0, 8193703.78,
       5000.0, 1420568.84333333, 277709.27, 92569.75666667, 3.0, 3.5,
       204857.0, 95379.0, 150118.0, 7938208.75, 318565.86, 4128387.305,
       38.75, 3.34, 21.045, 242.0, 5903704.0, 362.0, 7616803.0,
       0.2562613816564786,
       'nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, https://samolet.ru/flats/?project=7, https://samolet.ru/flats/?project=7, https://samolet.ru/flats/?project=7, nan, https://samolet.ru/flats/?project=7, https://samolet.ru/flats/?project=7, https://samolet.ru/flats/?project=7, nan, /project/sputnik/, /project/sputnik/, /project/sputnik/, nan, /project/sputnik/, /project/sputnik/, /project/sputnik/, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, sms, sms, sms, nan, sms, sms, sms, nan, exponea, exponea, exponea, nan, exponea, exponea, exponea, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, Mobile Safari, Mobile Safari, Mobile Safari, nan, Mobile Safari, Mobile Safari, Mobile Safari, nan, iPhone, iPhone, iPhone, nan, iPhone, iPhone, iPhone, nan, iOS, iOS, iOS, nan, iOS, iOS, iOS'],
      dtype=object)

In [23]:
data = raw_data.drop(columns=['report_date','client_id'])
data

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2663,text_for_search,ipoteka,comercial,ads,family,parking,apple,nonapple,flats
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,3,0,1
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.258682,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.254164,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.276902,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14452,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.260516,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14453,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.260005,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14454,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14455,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293904,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0

-----------

Удаление столбцов с хеш-суммами, uuid

In [24]:
# Regexp для поиска и удаления хеш сумм, так как это уникальное значение
pattern = r'^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$'

# Функция для фильтрации колонок по регулярному выражению
def filter_columns(column_name):
    return not data[column_name].astype(str).str.match(pattern).any()

raw_data_wout_regex = data[data.columns[data.columns.to_series().apply(filter_columns)]]

In [25]:
datat = raw_data_wout_regex.copy()
datat

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2663,text_for_search,ipoteka,comercial,ads,family,parking,apple,nonapple,flats
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,3,0,1
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.258682,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.254164,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.276902,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14452,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.260516,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14453,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.260005,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14454,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14455,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293904,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0

--------------

Split on train test raw data

In [26]:
datat.drop(columns=['target'])

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col2663,text_for_search,ipoteka,comercial,ads,family,parking,apple,nonapple,flats
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,3,0,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.258682,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.254164,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.276902,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.260516,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.260005,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
14455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.293904,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0

In [27]:
X_train, X_test, y_train, y_test = train_test_split(datat.drop(columns=['target']), datat['target'], test_size=0.3, random_state=rs+20)

In [28]:
Train_data = X_train
Train_data.insert(loc=0, column='target', value=y_train)
Test_data = X_test
Test_data.insert(loc=0, column='target', value=y_test)

In [29]:
Train_data.shape

(10119, 2656)

--------------

Удаление строк с целевым признаком 0, у которых большинство (медианное значение) признаков Nan

In [30]:
# Надо посчитать сколько в среднем заполнено значений для цп 0
median_t0 = Train_data[Train_data['target'] == 0].iloc[:,1:].apply(lambda row: row.notna().sum(), axis=1).median()
median_t0

522.0

In [31]:
data = Train_data[~((Train_data['target'] == 0) & (Train_data.iloc[:, 1:].apply(lambda row: row.notna().sum(), axis=1) <= median_t0))]
data

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2663,text_for_search,ipoteka,comercial,ads,family,parking,apple,nonapple,flats
6632,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.258650,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
3285,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.257217,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
1824,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256019,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
6135,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.264229,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",1,0,0,0,0,0,1,1
11625,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9337,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.257217,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
6299,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.257217,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
8101,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
11317,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
10150,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.269510,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0

------------

In [32]:
target = data['target']
data = data.drop(['target'], axis=1)

-----

Проход окном

In [33]:
# Дропаем колонки в которых только NaN
good_data = data.drop(data.columns[data.isna().all()], axis=1)

In [34]:
# Серднее окном в 2 колонки
mean_gd = (good_data.count() + good_data.count().shift(-1) + good_data.count().shift(1))/3
mean_gd

col1                NaN
col2           6.000000
col3           9.000000
col4           7.666667
col5           4.666667
               ...
family      5201.000000
parking     5201.000000
apple       5201.000000
nonapple    5201.000000
flats               NaN
Length: 2575, dtype: float64

In [35]:
selcol = good_data.columns[good_data.count()>=mean_gd] ########### > || >= фичи х2 ~1300
selcol = selcol.to_list()
selcol.append(data.columns[-1]) # добавляем последнюю колонку

In [36]:
good_data = good_data[selcol]
good_data

,col3,col4,col8,col12,col16,col20,col24,col28,col32,col36,...,col2663,text_for_search,ipoteka,comercial,ads,family,parking,apple,nonapple,flats
6632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.258650,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
3285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.257217,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
1824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256019,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
6135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.264229,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",1,0,0,0,0,0,1,1
11625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.257217,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
6299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.257217,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
8101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
11317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
10150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.269510,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0

-------

In [37]:
# Колонки с категориальными данными
catCols = [col for col in good_data.columns if good_data[col].dtype=="object"]
catCols[-10:-1]
#print(f'number cat columns = {len(catCols)}')

['col1448',
 'col1649',
 'col1650',
 'col1652',
 'col1654',
 'col2192',
 'col2195',
 'col2196',
 'col2198']

In [38]:
categorical_columns = good_data[catCols]
numeric_columns = good_data.drop(catCols, axis=1)

-------

In [39]:
# Нормализация данных
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
transform_gd = scaler.fit_transform(numeric_columns)

In [40]:
numeric_columns

,col3,col4,col8,col12,col16,col20,col24,col28,col32,col36,...,col2661,col2663,ipoteka,comercial,ads,family,parking,apple,nonapple,flats
6632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.258650,0,0,0,0,0,0,0,0
3285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.257217,0,0,0,0,0,0,0,0
1824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7605000.0,0.256019,0,0,0,0,0,0,0,0
6135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8878285.0,0.264229,1,0,0,0,0,0,1,1
11625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5731213.8,0.256261,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.257217,0,0,0,0,0,0,0,0
6299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.257217,0,0,0,0,0,0,0,0
8101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6056700.0,0.256261,0,0,0,0,0,0,0,0
11317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3000000.0,0.256261,0,0,0,0,0,0,0,0
10150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7800000.0,0.269510,0,0,0,0,0,0,0,0

In [41]:
Test_target = Test_data['target']
Test_data2 = Test_data[numeric_columns.columns]
Test_data3 = scaler.transform(Test_data2)

In [42]:
Test_data3.shape

(4337, 1193)

In [43]:
# TT split
#X_train, X_test, y_train, y_test = train_test_split(transform_gd, target, test_size=0.2, random_state=rs+20)

In [44]:
# from sklearn.compose import make_column_selector, make_column_transformer
# from sklearn.pipeline import make_pipeline
# import numpy as np

# from sklearn.preprocessing import OneHotEncoder

# one_hot_encoder = make_column_transformer(
#     (
#         OneHotEncoder(sparse_output=False, handle_unknown="ignore"),
#         make_column_selector(dtype_include="object"),
#     ),
#     remainder="passthrough",
# )

# hist_one_hot = make_pipeline(
#     one_hot_encoder, HistGradientBoostingClassifier(random_state=rs)
# )

In [45]:
transform_gd.shape

(5201, 1193)

In [46]:
Test_data3.shape

(4337, 1193)

In [47]:
transform_gd

array([[        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       ...,
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751]])

In [48]:
Test_data3

array([[        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       ...,
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751],
       [        nan,         nan,         nan, ..., -0.24663327,
        -0.40564285, -0.38519751]])

In [49]:
HistGradientBoostingClassifier().get_params().keys()

dict_keys(['categorical_features', 'early_stopping', 'l2_regularization', 'learning_rate', 'loss', 'max_bins', 'max_depth', 'max_iter', 'max_leaf_nodes', 'min_samples_leaf', 'monotonic_cst', 'n_iter_no_change', 'random_state', 'scoring', 'tol', 'validation_fraction', 'verbose', 'warm_start'])

In [50]:
# from sklearn.model_selection import GridSearchCV
# #parameters to tune
# parameters = {
#  'max_iter': [200, 500, 700],
#  'learning_rate': [0.1, 0.05, 0.2],
#  'max_depth' : [25, 50, 75],
#  'l2_regularization': [0.1, 0.01, 0.3, 0.5],
#  'scoring': ['roc_auc'],
#  'random_state' : [rs+20],
#  }
# #instantiate the gridsearch
# hgb_grid = GridSearchCV(HistGradientBoostingClassifier(), parameters, n_jobs=-1, 
#  cv=5, scoring='roc_auc',
#  verbose=2, refit=True)
# #fit on the grid 
# hgb_grid.fit(transform_gd,target)

In [51]:

gbc= HistGradientBoostingClassifier(loss='binary_crossentropy', max_iter=225, l2_regularization=0.01, max_leaf_nodes=40, random_state=rs+20)
gbc.fit(transform_gd,target)

# print("Train: ", roc_auc_score(target, gbc.predict(transform_gd)))


print("Test: ",roc_auc_score(Test_target, gbc.predict(Test_data3)))

Test:  0.724238089044956

0.713510142694692
with extra
0.7176027358430793
0.724238089044956

In [52]:
gbc.predict_proba(Test_data3)

array([[9.20795941e-01, 7.92040586e-02],
       [9.99906750e-01, 9.32504880e-05],
       [3.01166133e-03, 9.96988339e-01],
       ...,
       [9.44301578e-01, 5.56984220e-02],
       [9.99131306e-01, 8.68694443e-04],
       [9.99971456e-01, 2.85444270e-05]])

In [53]:
f1_score(Test_target, gbc.predict(Test_data3))

0.1780821917808219

0.17238001958863858
with extra
0.1750245821042281
0.1780821917808219

______________________________________________________________

try CatBoost

In [54]:
Test_data
Train_data

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2663,text_for_search,ipoteka,comercial,ads,family,parking,apple,nonapple,flats
10335,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
6632,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.258650,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
3285,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.257217,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
5674,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
3440,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11274,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
7744,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
4068,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
10150,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.269510,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0
4318,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256261,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n...",0,0,0,0,0,0,0,0

In [55]:
train_target = Train_data['target']
train_cat = Train_data[catCols]
train_cat.shape
test_target = Test_data['target']
test_cat = Test_data[catCols]
test_cat.shape

(4337, 212)

In [56]:
Train_data[Train_data['col48'].notna()]
Train_data['col50'].unique()

array(['nan', 'https://samolet.ru/', 'https://samolet.ru/spb/',
       'https://samolet.ru/project/', 'https://samolet.ru/commercial/',
       'https://samolet.ru/?utm_source=yandex_search&utm_medium=cpc&utm_campaign=samolet_live_yd_s_brand_samoletgroup_search_search_samolet_text_mmo_33~mzywztjh|68613244&utm_term=%D0%B6%D0%BA%20%D1%81%D0%B0%D0%BC%D0%BE%D0%BB%D0%B5%D1%82&utm_content=37376054825_|cid|68613244|gid|4767846385|aid|11502931156|adp|no|pos|premium1|src|search_none|dvc|mobile|reg|213|text_cena&calltouch_tm=yd_c:68613244_gb:4767846385_ad:11502931156_ph:37376054825_st:search_pt:premium_p:1_s:none_dt:mobile_reg:213_ret:_apt:none&yadclid=95349619&yadordid=168613244&yclid=18130280909992361983',
       'https://samolet.ru/project/?business_class=1',
       'https://samolet.ru/?utm_source=yandex_search&utm_medium=cpc&utm_campaign=samolet_live_yd_s_brand_samoletgroup_search_search_samolet_text_mmo_33~mzywztjh|68613244&utm_term=%D0%B3%D0%BA%20%D1%81%D0%B0%D0%BC%D0%BE%D0%BB%D0%B5%D1%82&utm_content=35325882672_|cid|68613244|gid|4767846383|aid|11492307715|adp|no|pos|premium1|src|search_none|dvc|mobile|reg|213|text_top&calltouch_tm=yd_c:68613244_gb:4767846383_ad:11492307715_ph:35325882672_st:search_pt:premium_p:1_s:none_dt:mobile_reg:213_ret:_apt:none&_openstat=ZGlyZWN0LnlhbmRleC5ydTs2ODYxMzI0NDsxMTQ5MjMwNzcxNTt5YW5kZXgucnU6cHJlbWl1bQ&yclid=9519726883194274000&business_class=1'],
      dtype=object)

In [57]:
catCols

['col49',
 'col50',
 'col51',
 'col52',
 'col53',
 'col54',
 'col55',
 'col56',
 'col60',
 'col64',
 'col88',
 'col92',
 'col96',
 'col100',
 'col129',
 'col130',
 'col131',
 'col132',
 'col133',
 'col134',
 'col135',
 'col136',
 'col137',
 'col138',
 'col139',
 'col140',
 'col141',
 'col142',
 'col143',
 'col144',
 'col145',
 'col146',
 'col147',
 'col148',
 'col149',
 'col150',
 'col151',
 'col152',
 'col156',
 'col160',
 'col164',
 'col168',
 'col170',
 'col172',
 'col176',
 'col184',
 'col188',
 'col192',
 'col196',
 'col204',
 'col208',
 'col212',
 'col216',
 'col221',
 'col222',
 'col223',
 'col224',
 'col225',
 'col226',
 'col227',
 'col228',
 'col229',
 'col230',
 'col231',
 'col232',
 'col233',
 'col234',
 'col235',
 'col236',
 'col237',
 'col238',
 'col239',
 'col240',
 'col241',
 'col242',
 'col243',
 'col244',
 'col457',
 'col458',
 'col459',
 'col460',
 'col461',
 'col462',
 'col463',
 'col464',
 'col468',
 'col472',
 'col516',
 'col521',
 'col522',
 'col523',
 'col524',
 'col525',
 'col526',
 'col527',
 'col528',
 'col529',
 'col530',
 'col531',
 'col532',
 'col533',
 'col534',
 'col535',
 'col536',
 'col537',
 'col538',
 'col539',
 'col540',
 'col541',
 'col542',
 'col543',
 'col544',
 'col545',
 'col546',
 'col547',
 'col548',
 'col549',
 'col550',
 'col551',
 'col552',
 'col553',
 'col554',
 'col555',
 'col556',
 'col557',
 'col558',
 'col559',
 'col560',
 'col561',
 'col562',
 'col563',
 'col564',
 'col565',
 'col566',
 'col567',
 'col568',
 'col569',
 'col570',
 'col571',
 'col572',
 'col573',
 'col574',
 'col575',
 'col576',
 'col577',
 'col578',
 'col579',
 'col580',
 'col581',
 'col582',
 'col583',
 'col584',
 'col588',
 'col592',
 'col596',
 'col600',
 'col604',
 'col608',
 'col612',
 'col616',
 'col820',
 'col824',
 'col1032',
 'col1045',
 'col1046',
 'col1047',
 'col1048',
 'col1049',
 'col1050',
 'col1051',
 'col1052',
 'col1053',
 'col1054',
 'col1055',
 'col1056',
 'col1057',
 'col1058',
 'col1059',
 'col1060',
 'col1061',
 'col1062',
 'col1063',
 'col1064',
 'col1065',
 'col1066',
 'col1067',
 'col1068',
 'col1069',
 'col1070',
 'col1071',
 'col1072',
 'col1073',
 'col1074',
 'col1075',
 'col1076',
 'col1172',
 'col1176',
 'col1180',
 'col1274',
 'col1276',
 'col1278',
 'col1280',
 'col1448',
 'col1649',
 'col1650',
 'col1652',
 'col1654',
 'col2192',
 'col2195',
 'col2196',
 'col2198',
 'text_for_search']

In [58]:
catCols

['col49',
 'col50',
 'col51',
 'col52',
 'col53',
 'col54',
 'col55',
 'col56',
 'col60',
 'col64',
 'col88',
 'col92',
 'col96',
 'col100',
 'col129',
 'col130',
 'col131',
 'col132',
 'col133',
 'col134',
 'col135',
 'col136',
 'col137',
 'col138',
 'col139',
 'col140',
 'col141',
 'col142',
 'col143',
 'col144',
 'col145',
 'col146',
 'col147',
 'col148',
 'col149',
 'col150',
 'col151',
 'col152',
 'col156',
 'col160',
 'col164',
 'col168',
 'col170',
 'col172',
 'col176',
 'col184',
 'col188',
 'col192',
 'col196',
 'col204',
 'col208',
 'col212',
 'col216',
 'col221',
 'col222',
 'col223',
 'col224',
 'col225',
 'col226',
 'col227',
 'col228',
 'col229',
 'col230',
 'col231',
 'col232',
 'col233',
 'col234',
 'col235',
 'col236',
 'col237',
 'col238',
 'col239',
 'col240',
 'col241',
 'col242',
 'col243',
 'col244',
 'col457',
 'col458',
 'col459',
 'col460',
 'col461',
 'col462',
 'col463',
 'col464',
 'col468',
 'col472',
 'col516',
 'col521',
 'col522',
 'col523',
 'col524',
 'col525',
 'col526',
 'col527',
 'col528',
 'col529',
 'col530',
 'col531',
 'col532',
 'col533',
 'col534',
 'col535',
 'col536',
 'col537',
 'col538',
 'col539',
 'col540',
 'col541',
 'col542',
 'col543',
 'col544',
 'col545',
 'col546',
 'col547',
 'col548',
 'col549',
 'col550',
 'col551',
 'col552',
 'col553',
 'col554',
 'col555',
 'col556',
 'col557',
 'col558',
 'col559',
 'col560',
 'col561',
 'col562',
 'col563',
 'col564',
 'col565',
 'col566',
 'col567',
 'col568',
 'col569',
 'col570',
 'col571',
 'col572',
 'col573',
 'col574',
 'col575',
 'col576',
 'col577',
 'col578',
 'col579',
 'col580',
 'col581',
 'col582',
 'col583',
 'col584',
 'col588',
 'col592',
 'col596',
 'col600',
 'col604',
 'col608',
 'col612',
 'col616',
 'col820',
 'col824',
 'col1032',
 'col1045',
 'col1046',
 'col1047',
 'col1048',
 'col1049',
 'col1050',
 'col1051',
 'col1052',
 'col1053',
 'col1054',
 'col1055',
 'col1056',
 'col1057',
 'col1058',
 'col1059',
 'col1060',
 'col1061',
 'col1062',
 'col1063',
 'col1064',
 'col1065',
 'col1066',
 'col1067',
 'col1068',
 'col1069',
 'col1070',
 'col1071',
 'col1072',
 'col1073',
 'col1074',
 'col1075',
 'col1076',
 'col1172',
 'col1176',
 'col1180',
 'col1274',
 'col1276',
 'col1278',
 'col1280',
 'col1448',
 'col1649',
 'col1650',
 'col1652',
 'col1654',
 'col2192',
 'col2195',
 'col2196',
 'col2198',
 'text_for_search']

In [59]:
len(datat.columns)

2656

In [60]:
myCatCols =  [col for col in datat.columns if datat[col].dtype=="object"]

In [61]:
ll = []
for col in datat.columns:
    if datat[col].dtype == 'object':
        ll.append(col)
ll

['col49',
 'col50',
 'col51',
 'col52',
 'col53',
 'col54',
 'col55',
 'col56',
 'col57',
 'col58',
 'col59',
 'col60',
 'col61',
 'col62',
 'col63',
 'col64',
 'col85',
 'col86',
 'col87',
 'col88',
 'col89',
 'col90',
 'col91',
 'col92',
 'col93',
 'col94',
 'col95',
 'col96',
 'col97',
 'col98',
 'col99',
 'col100',
 'col129',
 'col130',
 'col131',
 'col132',
 'col133',
 'col134',
 'col135',
 'col136',
 'col137',
 'col138',
 'col139',
 'col140',
 'col141',
 'col142',
 'col143',
 'col144',
 'col145',
 'col146',
 'col147',
 'col148',
 'col149',
 'col150',
 'col151',
 'col152',
 'col153',
 'col154',
 'col155',
 'col156',
 'col157',
 'col158',
 'col159',
 'col160',
 'col161',
 'col162',
 'col163',
 'col164',
 'col165',
 'col166',
 'col167',
 'col168',
 'col169',
 'col170',
 'col171',
 'col172',
 'col173',
 'col174',
 'col175',
 'col176',
 'col181',
 'col182',
 'col183',
 'col184',
 'col185',
 'col186',
 'col187',
 'col188',
 'col189',
 'col190',
 'col191',
 'col192',
 'col193',
 'col194',
 'col195',
 'col196',
 'col201',
 'col202',
 'col203',
 'col204',
 'col205',
 'col206',
 'col207',
 'col208',
 'col209',
 'col210',
 'col211',
 'col212',
 'col213',
 'col214',
 'col215',
 'col216',
 'col221',
 'col222',
 'col223',
 'col224',
 'col225',
 'col226',
 'col227',
 'col228',
 'col229',
 'col230',
 'col231',
 'col232',
 'col233',
 'col234',
 'col235',
 'col236',
 'col237',
 'col238',
 'col239',
 'col240',
 'col241',
 'col242',
 'col243',
 'col244',
 'col457',
 'col458',
 'col459',
 'col460',
 'col461',
 'col462',
 'col463',
 'col464',
 'col465',
 'col466',
 'col467',
 'col468',
 'col469',
 'col470',
 'col471',
 'col472',
 'col513',
 'col514',
 'col515',
 'col516',
 'col517',
 'col518',
 'col519',
 'col520',
 'col521',
 'col522',
 'col523',
 'col524',
 'col525',
 'col526',
 'col527',
 'col528',
 'col529',
 'col530',
 'col531',
 'col532',
 'col533',
 'col534',
 'col535',
 'col536',
 'col537',
 'col538',
 'col539',
 'col540',
 'col541',
 'col542',
 'col543',
 'col544',
 'col545',
 'col546',
 'col547',
 'col548',
 'col549',
 'col550',
 'col551',
 'col552',
 'col553',
 'col554',
 'col555',
 'col556',
 'col557',
 'col558',
 'col559',
 'col560',
 'col561',
 'col562',
 'col563',
 'col564',
 'col565',
 'col566',
 'col567',
 'col568',
 'col569',
 'col570',
 'col571',
 'col572',
 'col573',
 'col574',
 'col575',
 'col576',
 'col577',
 'col578',
 'col579',
 'col580',
 'col581',
 'col582',
 'col583',
 'col584',
 'col585',
 'col586',
 'col587',
 'col588',
 'col589',
 'col590',
 'col591',
 'col592',
 'col593',
 'col594',
 'col595',
 'col596',
 'col597',
 'col598',
 'col599',
 'col600',
 'col601',
 'col602',
 'col603',
 'col604',
 'col605',
 'col606',
 'col607',
 'col608',
 'col609',
 'col610',
 'col611',
 'col612',
 'col613',
 'col614',
 'col615',
 'col616',
 'col819',
 'col820',
 'col823',
 'col824',
 'col1029',
 'col1030',
 'col1031',
 'col1032',
 'col1033',
 'col1034',
 'col1035',
 'col1036',
 'col1045',
 'col1046',
 'col1047',
 'col1048',
 'col1049',
 'col1050',
 'col1051',
 'col1052',
 'col1053',
 'col1054',
 'col1055',
 'col1056',
 'col1057',
 'col1058',
 'col1059',
 'col1060',
 'col1061',
 'col1062',
 'col1063',
 'col1064',
 'col1065',
 'col1066',
 'col1067',
 'col1068',
 'col1069',
 'col1070',
 'col1071',
 'col1072',
 'col1073',
 'col1074',
 'col1075',
 'col1076',
 'col1170',
 'col1171',
 'col1172',
 'col1174',
 'col1175',
 'col1176',
 'col1177',
 'col1178',
 'col1179',
 'col1180',
 'col1273',
 'col1274',
 'col1275',
 'col1276',
 'col1277',
 'col1278',
 'col1279',
 'col1280',
 'col1445',
 'col1446',
 'col1447',
 'col1448',
 'col1449',
 'col1450',
 'col1451',
 'col1452',
 'col1647',
 'col1648',
 'col1649',
 'col1650',
 'col1651',
 'col1652',
 'col1653',
 'col1654',
 'col2191',
 'col2192',
 'col2193',
 'col2194',
 'col2195',
 'col2196',
 'col2197',
 'col2198',
 'text_for_search']

In [62]:
datat[col].unique()

array([0, 1], dtype=int64)

In [63]:
with open("data/obj.txt", 'w', encoding="utf-16le") as f:
    for l in ll:
        print(l, str(Train_data[l].value_counts(dropna = False)), file=f)

In [64]:
type(Train_data[l])

pandas.core.series.Series

In [65]:
len(myCatCols)

343

In [66]:
Train_data[myCatCols]

,col49,col50,col51,col52,col53,col54,col55,col56,col57,col58,...,col1654,col2191,col2192,col2193,col2194,col2195,col2196,col2197,col2198,text_for_search
10335,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
6632,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
3285,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,Не продал квартиру/машину,Не продал квартиру/машину,Не продал квартиру/машину,NaN,Не продал квартиру/машину,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
5674,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
3440,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11274,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
7744,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
4068,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
10150,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."
4318,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"nan, nan, nan, nan, nan, nan, nan, nan, nan, n..."

In [67]:
Train_data['col48'].notna()

10335    False
6632     False
3285     False
5674     False
3440     False
         ...
11274    False
7744     False
4068     False
10150    False
4318     False
Name: col48, Length: 10119, dtype: bool

In [68]:
from catboost import CatBoost, CatBoostRegressor, Pool
Train_data2 = Train_data[myCatCols]
Train_data2 = Train_data[myCatCols]
Train_data2[myCatCols] = Train_data2[myCatCols].astype("category")
Test_data2[myCatCols] = Test_data2[myCatCols].astype("category")
train_pool = Pool(Train_data.drop(['target'], 1), 
                  label=Train_data.target,
                  cat_features=myCatCols)
test_pool = Pool(Test_data.drop(['target'], 1), 
                  label=Test_data.target,
                  cat_features=myCatCols)

C:\Users\Anty\AppData\Local\Temp\ipykernel_24872\2027120657.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train_data2[myCatCols] = Train_data2[myCatCols].astype("category")

KeyError: "None of [Index(['col49', 'col50', 'col51', 'col52', 'col53', 'col54', 'col55', 'col56',\n       'col57', 'col58',\n       ...\n       'col1654', 'col2191', 'col2192', 'col2193', 'col2194', 'col2195',\n       'col2196', 'col2197', 'col2198', 'text_for_search'],\n      dtype='object', length=343)] are in the [columns]"

In [ ]:
from catboost import CatBoostClassifier

clf = CatBoostClassifier(
    iterations=50,
    random_seed=4,
    learning_rate=0.5,
    custom_loss=['AUC']
)

clf.fit(
    train_cat, train_target,
    verbose=False,
    plot=True
)

CatBoostError: Bad value for num_feature[non_default_doc_idx=95,feature_idx=0]="https://samolet.ru/": Cannot convert 'b'https://samolet.ru/'' to float

In [ ]:
from sklearn.model_selection import cross_validate
scoring = "f1"
one_hot_result = cross_validate(hist_one_hot, X_train, y_train, cv=3, scoring=scoring)

In [ ]:
one_hot_result['test_score']

-------

In [ ]:
columns_with_date = data.columns[data.isin(['самолет']).any()]
columns_with_date

In [ ]:
xxx = raw_data.loc[raw_data['client_id'] == 1969 ].sort_values(by='report_date')
xxx

In [ ]:
raw_data['col582'].value_counts()