In [1]:
import pandas as pd

from sklearn.ensemble import HistGradientBoostingClassifier, AdaBoostClassifier, RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import roc_curve, roc_auc_score, f1_score
from sklearn.model_selection import train_test_split

In [2]:
rs = 7812

report_date - дата среза фичей

есть есть еденица мы не знаем какая она 1 и 2 или 3е

In [3]:
raw_data = pd.read_csv('data/train_dataset_Самолет.csv', low_memory=False)

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14456 entries, 0 to 14455
Columns: 2666 entries, report_date to col2663
dtypes: float64(2312), int64(3), object(351)
memory usage: 294.0+ MB

In [5]:
raw_data

,report_date,client_id,target,col1,col2,col3,col4,col5,col6,col7,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,2022-11-01,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
1,2022-11-01,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,7616803.0,7616803.0,NaN,NaN,NaN,7616803.0,7616803.0,7616803.0,0.256261
2,2022-05-01,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
3,2022-09-01,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258682
4,2022-08-01,8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,2022-07-01,1241,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276902
14452,2022-09-01,1969,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260516
14453,2022-02-01,7116,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260005
14454,2021-08-01,7117,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
14455,2022-03-01,849,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.293904

### text fields
colomns #

URL: 49-56 221-244 457-464 545-560 1045-1076

От куда перешли: 555 - 576

Поисковые запросы: 577 - 584

Ипотека: 129-152

In [89]:
for i in range(129,153):
    print(f"\'col{i}\',")

'col129',
'col130',
'col131',
'col132',
'col133',
'col134',
'col135',
'col136',
'col137',
'col138',
'col139',
'col140',
'col141',
'col142',
'col143',
'col144',
'col145',
'col146',
'col147',
'col148',
'col149',
'col150',
'col151',
'col152',

In [92]:
list_of_text_col = ['col49','col50','col51','col52','col53','col54','col55','col56',
                            'col221','col222','col223','col224','col225','col226','col227','col228','col229','col230','col231','col232','col233','col234','col235','col236','col237','col238','col239','col240','col241','col242','col243','col244',
                            'col457','col458','col459','col460','col461','col462','col463','col464',
                            'col545','col546','col547','col548','col549','col550','col551','col552','col553','col554','col555','col556','col557','col558','col559','col560',
                            'col1045','col1046','col1047','col1048','col1049','col1050','col1051','col1052','col1053','col1054','col1055', 'col1056',
                            'col1057','col1058','col1059','col1060','col1061','col1062','col1063','col1064','col1065','col1066','col1067','col1068','col1069','col1070','col1071','col1072','col1073','col1074','col1075','col1076',
                            'col561','col562','col563','col564','col565','col566','col567','col568','col569','col570','col571','col572','col573','col574','col575','col576',
                            'col577','col578','col579','col580','col581','col582','col583','col584',
                            'col129','col130','col131','col132','col133','col134','col135','col136','col137','col138','col139','col140','col141','col142','col143','col144','col145','col146','col147','col148','col149','col150','col151','col152'
                             ]
len(list_of_text_col)

136

In [91]:
EF = raw_data
EF['text_for_search'] = EF[['col49','col50','col51','col52','col53','col54','col55','col56',
                            'col221','col222','col223','col224','col225','col226','col227','col228','col229','col230','col231','col232','col233','col234','col235','col236','col237','col238','col239','col240','col241','col242','col243','col244',
                            'col457','col458','col459','col460','col461','col462','col463','col464',
                            'col545','col546','col547','col548','col549','col550','col551','col552','col553','col554','col555','col556','col557','col558','col559','col560',
                            'col1045','col1046','col1047','col1048','col1049','col1050','col1051','col1052','col1053','col1054','col1055', 'col1056',
                            'col1057','col1058','col1059','col1060','col1061','col1062','col1063','col1064','col1065','col1066','col1067','col1068','col1069','col1070','col1071','col1072','col1073','col1074','col1075','col1076',
                            'col561','col562','col563','col564','col565','col566','col567','col568','col569','col570','col571','col572','col573','col574','col575','col576',
                            'col577','col578','col579','col580','col581','col582','col583','col584',
                            'col129','col130','col131','col132','col133','col134','col135','col136','col137','col138','col139','col140','col141','col142','col143','col144','col145','col146','col147','col148','col149','col150','col151','col152'
                             ]].agg(', '.join, axis=1)

TypeError: sequence item 0: expected str instance, float found

In [6]:
raw_data['target'].value_counts()

0    14020
1      436
Name: target, dtype: int64

In [7]:
num_unq_clients = raw_data['client_id'].unique().shape[0] # Number of unque clients
num_unq_clients

4817

In [8]:
raw_data.iloc[1,3:-1].dropna().unique()

array([1.0, 0.0, 4.0, 19.2, 19.200000762939453, 92.55, 92.5500030517578,
       30.0, 5407132.0, 23789540.0, 715.0,
       'https://samolet.ru/flats/?project=7', 'filter_price_asc', 55.7483,
       55.74829864501953, 37.6171, 37.61709976196289, 'page_load',
       'Mobile Safari', 'iPhone', 'iOS', '/project/sputnik/', 'sms',
       'exponea', 'Russia', 'Moscow',
       '01febac0-b083-494e-8589-f98400074b94', 6.0, 2.0, 8193703.78,
       5000.0, 1420568.84333333, 277709.27, 92569.75666667, 3.0, 3.5,
       204857.0, 95379.0, 150118.0, 7938208.75, 318565.86, 4128387.305,
       38.75, 3.34, 21.045, 242.0, 5903704.0, 362.0, 7616803.0],
      dtype=object)

In [9]:
data = raw_data.drop(columns=['report_date','client_id'])
data

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,7616803.0,7616803.0,NaN,NaN,NaN,7616803.0,7616803.0,7616803.0,0.256261
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258682
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276902
14452,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260516
14453,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260005
14454,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
14455,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.293904

-----------

Удаление столбцов с хеш-суммами, uuid

In [10]:
# Regexp для поиска и удаления хеш сумм, так как это уникальное значение
pattern = r'^[a-zA-Z0-9]{8}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4}-[a-zA-Z0-9]{12}$'

# Функция для фильтрации колонок по регулярному выражению
def filter_columns(column_name):
    return not data[column_name].astype(str).str.match(pattern).any()

raw_data_wout_regex = data[data.columns[data.columns.to_series().apply(filter_columns)]]

In [11]:
datat = raw_data_wout_regex.copy()
datat

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,7616803.0,7616803.0,NaN,NaN,NaN,7616803.0,7616803.0,7616803.0,0.256261
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258682
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276902
14452,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260516
14453,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260005
14454,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
14455,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.293904

--------------

Split on train test raw data

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,7616803.0,7616803.0,NaN,NaN,NaN,7616803.0,7616803.0,7616803.0,0.256261
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258682
4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276902
14452,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260516
14453,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260005
14454,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
14455,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.293904

In [12]:
datat.drop(columns=['target'])

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,7616803.0,7616803.0,NaN,NaN,NaN,7616803.0,7616803.0,7616803.0,0.256261
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258682
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.276902
14452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260516
14453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.260005
14454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
14455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.293904

In [13]:
X_train, X_test, y_train, y_test = train_test_split(datat.drop(columns=['target']), datat['target'], test_size=0.3, random_state=rs+20)

In [14]:
Train_data = X_train
Train_data.insert(loc=0, column='target', value=y_train)
Test_data = X_test
Test_data.insert(loc=0, column='target', value=y_test)

In [15]:
Train_data.shape

(10119, 2647)

--------------

Удаление строк с целевым признаком 0, у которых большинство (медианное значение) признаков Nan

In [16]:
# Надо посчитать сколько в среднем заполнено значений для цп 0
median_t0 = Train_data[Train_data['target'] == 0].iloc[:,1:].apply(lambda row: row.notna().sum(), axis=1).median()
median_t0

354.0

In [17]:
data = Train_data[~((Train_data['target'] == 0) & (Train_data.iloc[:, 1:].apply(lambda row: row.notna().sum(), axis=1) <= median_t0))]
data

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
6632,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258650
3285,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
1824,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7605000.0,7605000.0,7605000.0,NaN,NaN,NaN,7605000.0,7605000.0,7605000.0,0.256019
6135,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,0.264229
11625,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,0.256261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9337,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
6299,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
8101,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6056700.0,6056700.0,6056700.0,NaN,NaN,NaN,6056700.0,6056700.0,6056700.0,0.256261
11317,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3000000.0,3000000.0,3000000.0,NaN,NaN,NaN,3000000.0,3000000.0,3000000.0,0.256261
10150,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7800000.0,7800000.0,7800000.0,NaN,NaN,NaN,7800000.0,7800000.0,7800000.0,0.269510

------------

In [18]:
target = data['target']
data = data.drop(['target'], axis=1)

-----

Проход окном

In [19]:
# Дропаем колонки в которых только NaN
good_data = data.drop(data.columns[data.isna().all()], axis=1)

In [20]:
# Серднее окном в 2 колонки
mean_gd = (good_data.count() + good_data.count().shift(-1) + good_data.count().shift(1))/3
mean_gd

col1               NaN
col2          6.000000
col3          9.000000
col4          7.666667
col5          4.666667
              ...
col2659    1332.666667
col2660    2360.333333
col2661    3388.000000
col2662    3849.333333
col2663            NaN
Length: 2565, dtype: float64

In [21]:
selcol = good_data.columns[good_data.count()>=mean_gd] ########### > || >= фичи х2 ~1300
selcol = selcol.to_list()
selcol.append(data.columns[-1]) # добавляем последнюю колонку

In [22]:
good_data = good_data[selcol]
good_data

,col3,col4,col8,col12,col16,col20,col24,col28,col32,col36,...,col2649,col2651,col2652,col2654,col2655,col2656,col2658,col2660,col2661,col2663
6632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258650
3285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
1824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7605000.0,7605000.0,7605000.0,7605000.0,7605000.0,NaN,7605000.0,7605000.0,0.256019
6135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,8878285.0,0.264229
11625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,5731213.8,0.256261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
6299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
8101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6056700.0,6056700.0,6056700.0,NaN,6056700.0,6056700.0,0.256261
11317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3000000.0,3000000.0,3000000.0,3000000.0,3000000.0,NaN,3000000.0,3000000.0,0.256261
10150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7800000.0,7800000.0,7800000.0,NaN,7800000.0,7800000.0,0.269510

-------

In [23]:
# Колонки с категориальными данными
catCols = [col for col in good_data.columns if good_data[col].dtype=="object"]
catCols[-10:-1]
#print(f'number cat columns = {len(catCols)}')

['col1280',
 'col1448',
 'col1649',
 'col1650',
 'col1652',
 'col1654',
 'col2192',
 'col2195',
 'col2196']

In [24]:
categorical_columns = good_data[catCols]
numeric_columns = good_data.drop(catCols, axis=1)

-------

In [25]:
# Нормализация данных
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
transform_gd = scaler.fit_transform(numeric_columns)

In [26]:
Test_target = Test_data['target']
Test_data2 = Test_data[numeric_columns.columns]
Test_data3 = scaler.transform(Test_data2)

In [27]:
Test_data3.shape

(4337, 1193)

In [28]:
# TT split
#X_train, X_test, y_train, y_test = train_test_split(transform_gd, target, test_size=0.2, random_state=rs+20)

In [29]:
# from sklearn.compose import make_column_selector, make_column_transformer
# from sklearn.pipeline import make_pipeline
# import numpy as np

# from sklearn.preprocessing import OneHotEncoder

# one_hot_encoder = make_column_transformer(
#     (
#         OneHotEncoder(sparse_output=False, handle_unknown="ignore"),
#         make_column_selector(dtype_include="object"),
#     ),
#     remainder="passthrough",
# )

# hist_one_hot = make_pipeline(
#     one_hot_encoder, HistGradientBoostingClassifier(random_state=rs)
# )

In [30]:
transform_gd.shape

(4772, 1193)

In [31]:
Test_data3.shape

(4337, 1193)

In [32]:
gbc= HistGradientBoostingClassifier(loss='binary_crossentropy', max_iter=225, l2_regularization=0.15, max_leaf_nodes=60, random_state=rs+20)
gbc.fit(transform_gd,target)

roc_auc_score(Test_target, gbc.predict(Test_data3))

0.713510142694692

In [33]:
gbc.predict_proba(Test_data3)

array([[9.36362819e-01, 6.36371808e-02],
       [9.99493163e-01, 5.06837374e-04],
       [2.43641926e-03, 9.97563581e-01],
       ...,
       [9.42905993e-01, 5.70940070e-02],
       [9.95715059e-01, 4.28494127e-03],
       [9.99939445e-01, 6.05546898e-05]])

In [34]:
f1_score(Test_target, gbc.predict(Test_data3))

0.17238001958863858

______________________________________________________________

try CatBoost

In [35]:
Test_data
Train_data

,target,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
10335,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
6632,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258650
3285,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
5674,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
3440,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11274,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
7744,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
4068,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
10150,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7800000.0,7800000.0,7800000.0,NaN,NaN,NaN,7800000.0,7800000.0,7800000.0,0.269510
4318,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261

In [36]:
train_target = Train_data['target']
train_cat = Train_data[catCols]
train_cat.shape
test_target = Test_data['target']
test_cat = Test_data[catCols]
test_cat.shape

(4337, 93)

In [37]:
Train_data[Train_data['col48'].notna()]
Train_data['col50'].unique()

array([nan, 'https://samolet.ru/', 'https://samolet.ru/spb/',
       'https://samolet.ru/project/', 'https://samolet.ru/commercial/',
       'https://samolet.ru/?utm_source=yandex_search&utm_medium=cpc&utm_campaign=samolet_live_yd_s_brand_samoletgroup_search_search_samolet_text_mmo_33~mzywztjh|68613244&utm_term=%D0%B6%D0%BA%20%D1%81%D0%B0%D0%BC%D0%BE%D0%BB%D0%B5%D1%82&utm_content=37376054825_|cid|68613244|gid|4767846385|aid|11502931156|adp|no|pos|premium1|src|search_none|dvc|mobile|reg|213|text_cena&calltouch_tm=yd_c:68613244_gb:4767846385_ad:11502931156_ph:37376054825_st:search_pt:premium_p:1_s:none_dt:mobile_reg:213_ret:_apt:none&yadclid=95349619&yadordid=168613244&yclid=18130280909992361983',
       'https://samolet.ru/project/?business_class=1',
       'https://samolet.ru/?utm_source=yandex_search&utm_medium=cpc&utm_campaign=samolet_live_yd_s_brand_samoletgroup_search_search_samolet_text_mmo_33~mzywztjh|68613244&utm_term=%D0%B3%D0%BA%20%D1%81%D0%B0%D0%BC%D0%BE%D0%BB%D0%B5%D1%82&utm_content=35325882672_|cid|68613244|gid|4767846383|aid|11492307715|adp|no|pos|premium1|src|search_none|dvc|mobile|reg|213|text_top&calltouch_tm=yd_c:68613244_gb:4767846383_ad:11492307715_ph:35325882672_st:search_pt:premium_p:1_s:none_dt:mobile_reg:213_ret:_apt:none&_openstat=ZGlyZWN0LnlhbmRleC5ydTs2ODYxMzI0NDsxMTQ5MjMwNzcxNTt5YW5kZXgucnU6cHJlbWl1bQ&yclid=9519726883194274000&business_class=1'],
      dtype=object)

In [38]:
catCols

['col52',
 'col56',
 'col60',
 'col64',
 'col88',
 'col92',
 'col96',
 'col100',
 'col132',
 'col136',
 'col140',
 'col144',
 'col148',
 'col152',
 'col156',
 'col160',
 'col164',
 'col168',
 'col170',
 'col172',
 'col176',
 'col184',
 'col188',
 'col192',
 'col196',
 'col204',
 'col208',
 'col212',
 'col216',
 'col224',
 'col228',
 'col238',
 'col240',
 'col242',
 'col244',
 'col460',
 'col464',
 'col468',
 'col472',
 'col516',
 'col520',
 'col524',
 'col528',
 'col532',
 'col536',
 'col540',
 'col544',
 'col548',
 'col552',
 'col556',
 'col560',
 'col564',
 'col568',
 'col572',
 'col576',
 'col580',
 'col584',
 'col588',
 'col592',
 'col596',
 'col600',
 'col604',
 'col608',
 'col612',
 'col616',
 'col820',
 'col824',
 'col1032',
 'col1036',
 'col1048',
 'col1052',
 'col1056',
 'col1060',
 'col1064',
 'col1068',
 'col1072',
 'col1076',
 'col1172',
 'col1176',
 'col1180',
 'col1274',
 'col1276',
 'col1278',
 'col1280',
 'col1448',
 'col1649',
 'col1650',
 'col1652',
 'col1654',
 'col2192',
 'col2195',
 'col2196',
 'col2198']

In [39]:
catCols

['col52',
 'col56',
 'col60',
 'col64',
 'col88',
 'col92',
 'col96',
 'col100',
 'col132',
 'col136',
 'col140',
 'col144',
 'col148',
 'col152',
 'col156',
 'col160',
 'col164',
 'col168',
 'col170',
 'col172',
 'col176',
 'col184',
 'col188',
 'col192',
 'col196',
 'col204',
 'col208',
 'col212',
 'col216',
 'col224',
 'col228',
 'col238',
 'col240',
 'col242',
 'col244',
 'col460',
 'col464',
 'col468',
 'col472',
 'col516',
 'col520',
 'col524',
 'col528',
 'col532',
 'col536',
 'col540',
 'col544',
 'col548',
 'col552',
 'col556',
 'col560',
 'col564',
 'col568',
 'col572',
 'col576',
 'col580',
 'col584',
 'col588',
 'col592',
 'col596',
 'col600',
 'col604',
 'col608',
 'col612',
 'col616',
 'col820',
 'col824',
 'col1032',
 'col1036',
 'col1048',
 'col1052',
 'col1056',
 'col1060',
 'col1064',
 'col1068',
 'col1072',
 'col1076',
 'col1172',
 'col1176',
 'col1180',
 'col1274',
 'col1276',
 'col1278',
 'col1280',
 'col1448',
 'col1649',
 'col1650',
 'col1652',
 'col1654',
 'col2192',
 'col2195',
 'col2196',
 'col2198']

In [75]:
len(datat.columns)

2647

In [76]:
myCatCols =  [col for col in datat.columns if datat[col].dtype=="object"]

In [77]:
ll = []
for col in datat.columns:
    if datat[col].dtype == 'object':
        ll.append(col)
ll

['col49',
 'col50',
 'col51',
 'col52',
 'col53',
 'col54',
 'col55',
 'col56',
 'col57',
 'col58',
 'col59',
 'col60',
 'col61',
 'col62',
 'col63',
 'col64',
 'col85',
 'col86',
 'col87',
 'col88',
 'col89',
 'col90',
 'col91',
 'col92',
 'col93',
 'col94',
 'col95',
 'col96',
 'col97',
 'col98',
 'col99',
 'col100',
 'col129',
 'col130',
 'col131',
 'col132',
 'col133',
 'col134',
 'col135',
 'col136',
 'col137',
 'col138',
 'col139',
 'col140',
 'col141',
 'col142',
 'col143',
 'col144',
 'col145',
 'col146',
 'col147',
 'col148',
 'col149',
 'col150',
 'col151',
 'col152',
 'col153',
 'col154',
 'col155',
 'col156',
 'col157',
 'col158',
 'col159',
 'col160',
 'col161',
 'col162',
 'col163',
 'col164',
 'col165',
 'col166',
 'col167',
 'col168',
 'col169',
 'col170',
 'col171',
 'col172',
 'col173',
 'col174',
 'col175',
 'col176',
 'col181',
 'col182',
 'col183',
 'col184',
 'col185',
 'col186',
 'col187',
 'col188',
 'col189',
 'col190',
 'col191',
 'col192',
 'col193',
 'col194',
 'col195',
 'col196',
 'col201',
 'col202',
 'col203',
 'col204',
 'col205',
 'col206',
 'col207',
 'col208',
 'col209',
 'col210',
 'col211',
 'col212',
 'col213',
 'col214',
 'col215',
 'col216',
 'col221',
 'col222',
 'col223',
 'col224',
 'col225',
 'col226',
 'col227',
 'col228',
 'col237',
 'col238',
 'col239',
 'col240',
 'col241',
 'col242',
 'col243',
 'col244',
 'col457',
 'col458',
 'col459',
 'col460',
 'col461',
 'col462',
 'col463',
 'col464',
 'col465',
 'col466',
 'col467',
 'col468',
 'col469',
 'col470',
 'col471',
 'col472',
 'col513',
 'col514',
 'col515',
 'col516',
 'col517',
 'col518',
 'col519',
 'col520',
 'col521',
 'col522',
 'col523',
 'col524',
 'col525',
 'col526',
 'col527',
 'col528',
 'col529',
 'col530',
 'col531',
 'col532',
 'col533',
 'col534',
 'col535',
 'col536',
 'col537',
 'col538',
 'col539',
 'col540',
 'col541',
 'col542',
 'col543',
 'col544',
 'col545',
 'col546',
 'col547',
 'col548',
 'col549',
 'col550',
 'col551',
 'col552',
 'col553',
 'col554',
 'col555',
 'col556',
 'col557',
 'col558',
 'col559',
 'col560',
 'col561',
 'col562',
 'col563',
 'col564',
 'col565',
 'col566',
 'col567',
 'col568',
 'col569',
 'col570',
 'col571',
 'col572',
 'col573',
 'col574',
 'col575',
 'col576',
 'col577',
 'col578',
 'col579',
 'col580',
 'col581',
 'col582',
 'col583',
 'col584',
 'col585',
 'col586',
 'col587',
 'col588',
 'col589',
 'col590',
 'col591',
 'col592',
 'col593',
 'col594',
 'col595',
 'col596',
 'col597',
 'col598',
 'col599',
 'col600',
 'col601',
 'col602',
 'col603',
 'col604',
 'col605',
 'col606',
 'col607',
 'col608',
 'col609',
 'col610',
 'col611',
 'col612',
 'col613',
 'col614',
 'col615',
 'col616',
 'col819',
 'col820',
 'col823',
 'col824',
 'col1029',
 'col1030',
 'col1031',
 'col1032',
 'col1033',
 'col1034',
 'col1035',
 'col1036',
 'col1045',
 'col1046',
 'col1047',
 'col1048',
 'col1049',
 'col1050',
 'col1051',
 'col1052',
 'col1053',
 'col1054',
 'col1055',
 'col1056',
 'col1057',
 'col1058',
 'col1059',
 'col1060',
 'col1061',
 'col1062',
 'col1063',
 'col1064',
 'col1065',
 'col1066',
 'col1067',
 'col1068',
 'col1070',
 'col1071',
 'col1072',
 'col1073',
 'col1074',
 'col1075',
 'col1076',
 'col1170',
 'col1171',
 'col1172',
 'col1174',
 'col1175',
 'col1176',
 'col1177',
 'col1178',
 'col1179',
 'col1180',
 'col1273',
 'col1274',
 'col1275',
 'col1276',
 'col1277',
 'col1278',
 'col1279',
 'col1280',
 'col1445',
 'col1446',
 'col1447',
 'col1448',
 'col1449',
 'col1450',
 'col1451',
 'col1452',
 'col1647',
 'col1648',
 'col1649',
 'col1650',
 'col1651',
 'col1652',
 'col1653',
 'col1654',
 'col2191',
 'col2192',
 'col2193',
 'col2194',
 'col2195',
 'col2196',
 'col2197',
 'col2198']

In [78]:
datat[col].unique()

array([0.25626138, 0.25868176, 0.2541643 , ..., 0.26029922, 0.26185761,
       0.28014841])

In [79]:
with open("data/obj.txt", 'w', encoding="utf-16le") as f:
    for l in ll:
        print(l, str(Train_data[l].value_counts(dropna = False)), file=f)

In [68]:
type(Train_data[l])

pandas.core.series.Series

In [41]:
len(myCatCols)

333

In [42]:
Train_data[myCatCols]

,col49,col50,col51,col52,col53,col54,col55,col56,col57,col58,...,col1653,col1654,col2191,col2192,col2193,col2194,col2195,col2196,col2197,col2198
10335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Не продал квартиру/машину,Не продал квартиру/машину,Не продал квартиру/машину,NaN,Не продал квартиру/машину
5674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
Train_data['col48'].notna()

10335    False
6632     False
3285     False
5674     False
3440     False
         ...
11274    False
7744     False
4068     False
10150    False
4318     False
Name: col48, Length: 10119, dtype: bool

In [45]:
from catboost import CatBoost, CatBoostRegressor, Pool
Train_data2 = Train_data[myCatCols]
Train_data2 = Train_data[myCatCols]
Train_data2[myCatCols] = Train_data2[myCatCols].astype("category")
Test_data2[myCatCols] = Test_data2[myCatCols].astype("category")
train_pool = Pool(Train_data.drop(['target'], 1), 
                  label=Train_data.target,
                  cat_features=myCatCols)
test_pool = Pool(Test_data.drop(['target'], 1), 
                  label=Test_data.target,
                  cat_features=myCatCols)

C:\Users\Anty\AppData\Local\Temp\ipykernel_20624\2027120657.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Train_data2[myCatCols] = Train_data2[myCatCols].astype("category")

KeyError: "None of [Index(['col49', 'col50', 'col51', 'col52', 'col53', 'col54', 'col55', 'col56',\n       'col57', 'col58',\n       ...\n       'col1653', 'col1654', 'col2191', 'col2192', 'col2193', 'col2194',\n       'col2195', 'col2196', 'col2197', 'col2198'],\n      dtype='object', length=333)] are in the [columns]"

In [ ]:
from catboost import CatBoostClassifier

clf = CatBoostClassifier(
    iterations=50,
    random_seed=4,
    learning_rate=0.5,
    custom_loss=['AUC']
)

clf.fit(
    train_cat, train_target,
    verbose=False,
    plot=True
)

CatBoostError: Bad value for num_feature[non_default_doc_idx=95,feature_idx=0]="https://samolet.ru/": Cannot convert 'b'https://samolet.ru/'' to float

In [ ]:
from sklearn.model_selection import cross_validate
scoring = "f1"
one_hot_result = cross_validate(hist_one_hot, X_train, y_train, cv=3, scoring=scoring)

In [ ]:
one_hot_result['test_score']

-------

In [ ]:
columns_with_date = data.columns[data.isin(['самолет']).any()]
columns_with_date

In [ ]:
xxx = raw_data.loc[raw_data['client_id'] == 1969 ].sort_values(by='report_date')
xxx

In [ ]:
raw_data['col582'].value_counts()